body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    background-image: url("/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    overflow : visible;
}

.fas.fa-window-close {
    font-size: 1.5em;
    color: red;
    transition: all 0.1s ease-in;
}
.fas.fa-window-close:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.wrapper {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    min-height: 100vh;

}
.site_header {
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index:1000;
}

.site_header .menu {
    display: flex;
    flex-direction:column;
    width: 60%;
    padding: 0.5em 2em;
    margin: auto;
}

.site_header .menu .menu_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.site_header .menu .menu_top .menu_right {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site_header .menu .menu_top .menu_right .active_page {
    font-weight: 600;
    margin-right: 1em;
}
.site_header .menu .menu_top .menu_right i {
    padding: 0.3em 0.7em;
    border: 1px solid rgba(255,255,255, 0.3);
    border-radius: 3px;
    font-size: 1em;
    transition: all 0.2s ease;
    
}
.site_header .menu .menu_top .menu_right i:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
}

.site_header .menu .menu_off {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.site_header .menu .menu_off .menu_summary {
    margin-left: 3em;
}
.site_header .menu .menu_off nav {
    
}

.site_header .menu .menu_off ul {
    list-style: none;
    padding: 0;
    width: 12em;

}
.site_header .menu .menu_off ul li {
    text-align: right;
    padding: 0.5em 1em;
}


.site_header .menu .menu_off a {

    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
}
.site_header .menu .menu_off ul a:hover{
    cursor: pointer;
}
.site_header .menu .menu_off ul a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    bottom: 0;
    background-color: #fff;
    transition: all 0.3s ease;
}
.site_header .menu .menu_off ul a:hover::after {
    width: 100%;
}

.site_header .menu .menu_off ul a.active{
    color: #5e5e5e;
    cursor: not-allowed;
}

.site_header .menu .menu_off ul a.active:hover::after {
    width: 0;
}


.site_header h1 {
    margin: 0;
}



.site_main {
    width: 60%;
    min-height: 50vh;
    margin: 3em auto;
}
.site_main .greeting {
    margin: 20em auto 5em;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.2);
}
.site_main .greeting p {
    margin: 3em 0;
}
.site_main .greeting a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    background-color: rgba(255, 0, 0, 0.774);
    border-radius: 3px;
    font-weight: 600;
    font-size: 1.2em;
    transition: all 0.2s ease;
}
.site_main .greeting a:hover {
    box-shadow: 0px 0px 5px 3px rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}


.site_footer {
    height: 3em;
    background: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.473);
}

.site_footer a {
    color: #fff;
}