.widgets {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
}

.widget {
    width: 80%;
    min-height: 5em;
    margin-bottom: 2em;
}
.widget .minimize_button {
    width: 20px;
    position: absolute;
    right: -1em;
    top: -1em;
    font-size: 1em !important;
    transition: all 0.2s ease;
    opacity: 0;
    cursor: pointer;
}
.widget .minimize_button:hover {
    width: 23px;
    display: block;
}

.widget:hover .minimize_button{
    opacity: 1;
}
.widget.minimized {
    display: none !important;
}
.taskbar {
    position: absolute;
    top: -3em;
    left: 0;
    height: 3em;
    width: auto;
    display: flex;
}
.taskbar .taskbar_app {
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7em;
    position: relative;
    font-size: 1.5em;
    font-weight: 600;
    
}
.taskbar .taskbar_app:hover .open_button{
    opacity: 1;
}

.taskbar_app .open_button {
    width: 20px;
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    transition: all 0.3s ease;
    opacity: 0;
    cursor: pointer;
}

.taskbar_app .open_button:hover {
    width: 23px;
}
/*Weather widget*/
.widget.weather {
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.308);
}
.widget.weather p {
    margin: 0.3em 0;
    font-weight: 400;
    font-size: 0.9em;
}
.widget.weather .bg_image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    object-fit: cover;
}
.widget_header, .details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.details > div {
    text-align: center;
}
.details {
    padding-bottom: 1em;
}
.widget_forecast {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1em;
    position: relative;
}
.widget.weather .widget_forecast p {
    margin: 0;
    color: rgb(255, 255, 255);
}
.widget_forecast > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather_icon {
    width: 75px;
}

.widget.weather .refresh_btn {
    transition: all 1.5s cubic-bezier(.04, .71, .92, .42);
    width: 20px;
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}
.widget.weather .refresh_btn:hover {
    transform: rotate(1080deg);
}

.widget.weather h1 {
    font-weight: 300;
    font-size: 2em;
    margin: 0;
}

/*Clock widget*/

.widget.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.widget.clock {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}
.widget.clock .current_time{
    font-size: 4em;
}

.widget.clock .current_date {
    font-size: 2em;
}






/*Widget calendar*/
.widget.calendar {
    position: relative;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calendar_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.calendar_header .buttons {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.calendar_header img {
    height: 1em;
}


.calendar_date, .widget.calendar img {
    cursor: pointer;
}
.calendar_date {
    font-size: 1.2em;
    font-weight: 600;
}
th {
    padding: 0.5em;
}
td {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.164);
    transition: all 0.2s ease;
    padding: 0.5em;
    width: 2em;
    color: rgba(255, 255, 255, 0.397);
}
.table_body .actual_month {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.table_body .today {
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-size: 1.1em;
    padding: 0.4em;
}
td:hover {
     border: 1px solid rgb(255, 255, 255);
}
.monthButton {
    width: 33%;
    padding: 1em;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.2em;
}
.monthButton:hover {
    border: 1px solid rgb(255, 255, 255);
}
